<fieldset>
    <legend>Edit Project</legend>
    <!-- TITLE -->
    <!-- <div class="form-group">
        <label for="charity-title">Title</label><br>
        <input id="charity-title" type="text" name="title" value="{{charity.title}}"/>
    </div> -->

    <!-- TITLE -->
    <div class="form-group">
        <label for="title">Title</label><br>
        <input id="title" type="text" name="title" value="{{project.title}}"/>
    </div>

    <!--DESCRIPTION -->
    <div class="form-group">
        <label for="project-description">Description</label><br>
        <textarea id="project-description" name="description" rows="10"/> {{project.description}}</textarea>
    </div>
</fieldset>
