  <!-- <a href="/auth/google">Sign In with Google</a> -->

  <!-- views/index.ejs -->


  <div class="container" style="margin-top: 20px;">

      <div class="jumbotron text-center">
          <h1> Projects and To Do's! </h1>
          <p>Store your projects and todo's for those projects!<p>

          <p>Login or Register with:</p>
          <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

      </div>

  </div>
