<h1> Projects </h1>

<a href="/projects/new"> New Project </a>

<div class="row">
{{#each projects}}
    <div class="col-sm-3">
        <h1><a href="/projects/{{this._id}}">{{this.title}}</a></h1>
        <h3>{{this.projectTitle}}</h3>
    </div>
    {{/each}}
</div>
